p {

    color: red;
    font-weight: bold;

}

nav {
    display: flex;
}

nav li {
    list-style-type: none;
    margin: 0px 10px;
}

nav li a {
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    p {
      color: lightblue; 
    }
    nav {
        flex-direction: column;
    }
    nav li {
        text-align: center;
    }
  }

